body {
    font-family: 'Montserrat';
    background-color: #E5E5E5;

}

/* main styles */
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;

}

.mainContent {
    background-color: rgb(245, 245, 228);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 90px;
}

/* Project styles */
.Projects {
    margin-bottom: 50px;
}

/* About styles */
.About {
    margin-bottom: 40px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.Title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.About_me{

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects_list {
    padding: 0;
    margin-left: 15px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-,
.project_link,
.FB {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.Mama{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #faf8f8;
}


.project_link {
    margin-left: 10px;
}

.project_b {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */
.work {
    margin-bottom: 40px;
}

.stih {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.period,
.period_Education {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 15px;
}

.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}

.organization,
.education_ {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

/* Education styles */


.Management_ {
    margin: 0;
    margin-bottom: 10px;
}

/* sideBar styles */
.sideBar {
    background-color: rgb(47, 47, 78);
    padding-top: 40px;
    width: 370px;
}

a {
    text-decoration: none;


}

a:hover {
    text-decoration: underline;
    color: palevioletred
}

.photo {
    width: 370px;
    margin-bottom: 50px;
    border-radius: 0%;
}

.sidebarTitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts,
.Soft_SKILLS,
.techSkills {
    margin-left: 40px;

}

.contacts {
    margin-bottom: 50px;
}

.contactType {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 3px;
}

.telAndmail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #727982;
}

.techSkilslist {
    color: #FFFFFF;
    padding: 0;
    margin-left: 19px;
}

.techSkills-item {
    color: #FB6D3A;
}

.techSkillstext,{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_list {
    color: white;
    margin-left: 19px;
    padding: 0;
}

.soft_skills_item {
    color: #FB6D3A;
    padding: 0;
}

.soft_skills_text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.FB {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
